NUXT_LOG_LEVEL=
NUXT_PUBLIC_APP_URL=
NUXT_PUBLIC_API_BASE=
NUXT_PUBLIC_LICENSE_API_ENDPOINT=https://api.sharaforms.com
NUXT_PUBLIC_POSTHOG_KEY=
NUXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NUXT_PUBLIC_CRISP_WEBSITE_ID=
NUXT_PUBLIC_ENV=
NUXT_PUBLIC_GOOGLE_ANALYTICS_CODE=
NUXT_PUBLIC_H_CAPTCHA_SITE_KEY=
NUXT_PUBLIC_RE_CAPTCHA_SITE_KEY=
NUXT_API_SECRET=secret
NUXT_PUBLIC_ROOT_REDIRECT_URL=
NUXT_PUBLIC_CLARITY_PROJECT_ID=
NUXT_PUBLIC_PRIVACY_POLICY_PAGE_ID=9c97349ceda7455aab9b341d1ff70f79
NUXT_PUBLIC_TERMS_CONDITIONS_PAGE_ID=246420da2834480ca04047b0c5a00929
